@use "variables";
@import "mixins";

.section-vision-main {
  background: #0f150f;

  @include mobile {
    min-height: 97vh;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 30px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    .subtitle {
      font-family: TitiliumWeb-Light;
      font-size: 50px;
      color: #bdc2bd;
      text-align: center;
      z-index: 1;
    }

    .img-leaves {
      position: absolute;
      top: 75px;
      right: 0;
      height: 200px;
    }

    a {
      z-index: 2;
    }

    .arrow-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 80px;
      position: absolute;
      left: 0px;

      svg {
        height: 50px;
        width: 50px;
        color: #43984194;
      }
    }
  }

  @include desktop {
    min-height: 97vh;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 40px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    .subtitle {
      font-family: TitiliumWeb-Light;
      font-size: 70px;
      color: #bdc2bd;
      text-align: center;
      z-index: 1;
    }

    .img-leaves {
      position: absolute;
      top: 90px;
    }
  }
}
