@use "variables";
@import "mixins";

.section-applications-main {
  background: #eae9e5;

  @include mobile {
    min-height: 97vh;
    padding-top: 50px;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 30px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    img {
      height: 70px;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      flex-direction: column;
      padding-bottom: 100px;
    }

    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      p {
        font-family: TitiliumWeb-SemiBold;
        font-size: 16px;
        margin-top: 20px;
        color: #262626;
      }
    }
  }

  @include desktop {
    min-height: 97vh;

    .img-leaf {
      height: 30px;
      width: 30px;
    }

    .highlights-container {
      margin-top: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .highlights-title {
      font-size: 30px;
      color: green;
      font-weight: bold;
    }

    .highlights-subtitle-container {
      display: flex;
      justify-content: space-between;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        font-size: 20px;
      }
    }

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 40px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    img {
      height: 70px;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
    }

    .img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 50px;

      p {
        font-family: TitiliumWeb-SemiBold;
        font-size: 16px;
        margin-top: 20px;
        color: #262626;
      }
    }
  }
}
