@use "variables";
@import "mixins";

.section-process-main {
  background: #e5e8e7;

  @include mobile {
    min-height: 89vh;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 30px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    .img-process {
      height: 500px;
      margin-top: 30px;
    }
  }

  @include desktop {
    padding-top: 130px;
    min-height: 97vh;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 40px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    .img-process {
      margin-top: 50px;
      height: 1100px;
      border-radius: 30px;
    }
  }
}
