@use "variables";
@import "mixins";

.section-technology-main {
  background: #e5e8e7;

  @include mobile {
    min-height: 89vh;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 30px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    .img-process {
      height: 500px;
      margin-top: 30px;
    }

    video {
      width: 330px;
      height: 200px;
      margin-top: 30px;
    }
  }

  @include desktop {
    min-height: 97vh;
    padding-top: 100px;

    .img-leaf {
      height: 30px;
      width: 30px;
    }

    .highlights-container {
      margin-top: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .highlights-title {
      font-size: 30px;
      color: green;
      font-weight: bold;
    }

    .highlights-subtitle-container {
      display: flex;
      justify-content: space-between;
      padding: 50px;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        font-size: 20px;
      }
    }

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 40px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    .img-process {
      margin-top: 50px;
      height: 1100px;
      border-radius: 30px;
    }

    .view-btn {
      padding: 15px;
      font-size: 15px;
      background: inherit;
      border: 1pt solid #428d3f;
      color: #428d3f;
      transition: 0.4s;
      cursor: pointer;
      margin-top: 30px;
      margin-bottom: 50px;

      &:hover {
        border: 2pt solid black;
        color: black;
        transition: 0.4s;
      }
    }
  }
}
