.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #12161d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** MAIN CSS **/
@font-face {
  font-family: TitiliumWeb-Light;
  src: local("TitiliumWeb"),
    url(./fonts/Titillium/TitilliumWeb-Light.ttf) format("opentype");
}

@font-face {
  font-family: TitiliumWeb;
  src: local("TitiliumWeb"),
    url(./fonts/Titillium/TitilliumWeb-Regular.ttf) format("opentype");
}

@font-face {
  font-family: TitiliumWeb-SemiBold;
  src: local("TitiliumWeb"),
    url(./fonts/Titillium/TitilliumWeb-SemiBold.ttf) format("opentype");
}
