@use "variables";
@import "mixins";

.section-commercial-main {
  background: #eae9e5;

  @include mobile {
    min-height: 97vh;
    padding-top: 50px;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 30px;
      color: #449841;
      text-align: center;
      z-index: 1;
    }

    .img-machine2 {
      width: 350px;
      margin-top: 35px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .inner-content {
      display: flex;
      align-items: center;
      width: 80%;
      flex-direction: column;
    }

    .text {
      font-size: 15px;
      margin-top: 50px;
    }

    ul {
      font-size: 14px;
    }

    .view-btn {
      padding: 10px;
      font-size: 12px;
      background: inherit;
      border: 1pt solid #428d3f;
      color: #428d3f;
      transition: 0.4s;
      cursor: pointer;
      margin-top: 10px;
    }

    .bottom-content {
      width: 100%;
      min-height: 500px;
      background: #1d1d1d;
      margin-top: -166px;

      .inner-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin-top: 161px;
        padding-bottom: 50px;
      }

      .details-block {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: TitiliumWeb-Light;

        .details-left {
          font-size: 60px;
          font-weight: 200;
          display: inline;
          float: left;
          margin-right: 20px;
        }

        .details-title {
          text-transform: uppercase;
          font-size: 17px;
          font-weight: 700;
        }

        .details-subtitle {
          font-size: 15px;
          max-width: 125px;
        }
      }
    }
  }

  @include desktop {
    padding-top: 110px;

    .title {
      font-family: TitiliumWeb-Light;
      font-size: 40px;
      color: #449841;
      z-index: 1;
      margin-bottom: 50px;
    }

    .img-machine2 {
      width: 700px;
      margin-left: 30px;
    }

    .left-section {
      margin-top: -250px;
    }

    .right-section {
      margin-top: 100px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .inner-content {
      display: flex;
      align-items: center;
      width: 80%;
    }

    .text {
      font-size: 20px;
    }

    .view-btn {
      padding: 15px;
      font-size: 15px;
      background: inherit;
      border: 1pt solid #428d3f;
      color: #428d3f;
      transition: 0.4s;
      cursor: pointer;
      margin-top: 30px;

      &:hover {
        border: 2pt solid black;
        color: black;
        transition: 0.4s;
      }
    }
    .bottom-content {
      width: 100%;
      min-height: 500px;
      background: #1d1d1d;
      margin-top: -166px;

      .inner-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      .details-block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        color: white;
        font-family: TitiliumWeb-Light;

        .details-left {
          font-size: 100px;
          font-weight: 200;
          display: inline;
          float: left;
          margin-right: 20px;
        }

        .details-title {
          text-transform: uppercase;
          font-size: 17px;
          font-weight: 700;
        }

        .details-subtitle {
          font-size: 15px;
        }
      }
    }
  }
}
